<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Denúncias</title>
    <link rel="stylesheet" href="{% static 'css/historico_denuncia.css' %}">
</head>

<body>

    <a href="{% url 'home_vitima' %}" class="back-button">Voltar</a>

    <div class="container">
        <img src="{% static 'img/logo-icon.svg' %}" alt="Logo" class="icon">
        <h1>Histórico de denúncias</h1>

        <div class="lista">
            {% for denuncia in denuncias %}
            <div class="item">
                <div class="left">
                    <span class="ocorrencia">Ocorrência nº {{ denuncia.id_denuncia }}</span>
                </div>
                <div class="center">
                    <span class="status 
                        {% if denuncia.status == 'pendente' %}pendente
                        {% elif denuncia.status == 'analise' %}analise
                        {% else %}finalizado
                        {% endif %}
                    ">
                        {% if denuncia.status == 'pendente' %}
                            Pendente
                        {% elif denuncia.status == 'analise' %}
                            Em análise
                        {% else %}
                            Finalizado
                        {% endif %}
                    </span>
                </div>
                <div class="right">
                    <span class="data">{{ denuncia.data_hora|date:"d/m/Y" }}</span>
                    <span class="arrow">&#9660;</span>
                </div>
            </div>
            {% empty %}
            <p>Você não possui denúncias registradas.</p>
            {% endfor %}
        </div>
    </div>

    <div class="icons">
        <a href="#"><img src="{% static 'img/youtube.svg' %}" alt="YouTube"></a>
        <a href="#"><img src="{% static 'img/instagram.svg' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'img/telefone.svg' %}" alt="Telefone"></a>
    </div>

</body>

</html>
