<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Denúncias</title>
    <link rel="stylesheet" href="{% static 'css/historico_denuncia.css' %}">
</head>

<body>

    <a href="{% url 'home_vitima' %}" class="back-button">Voltar</a>

    <div class="container">
        <img src="{% static 'img/logo-icon.svg' %}" alt="Logo" class="icon">
        <h1>Histórico de denúncias</h1>

        <div class="lista">

            <div class="item">
                <div class="left">
                    <span class="ocorrencia">Ocorrência nº 57960</span>
                </div>
                <div class="center">
                    <span class="status pendente">Pendente</span>
                </div>
                <div class="right">
                    <span class="data">29/03/2022</span>
                    <span class="arrow">&#9660;</span>
                </div>
            </div>

            <div class="item">
                <div class="left">
                    <span class="ocorrencia">Ocorrência nº 94869</span>
                </div>
                <div class="center">
                    <span class="status analise">Em análise</span>
                </div>
                <div class="right">
                    <span class="data">01/02/2022</span>
                    <span class="arrow">&#9660;</span>
                </div>
            </div>

            <div class="item">
                <div class="left">
                    <span class="ocorrencia">Ocorrência nº 47539</span>
                </div>
                <div class="center">
                    <span class="status finalizado">Finalizado</span>
                </div>
                <div class="right">
                    <span class="data">19/05/2021</span>
                    <span class="arrow">&#9660;</span>
                </div>
            </div>

            <div class="item">
                <div class="left">
                    <span class="ocorrencia">Ocorrência nº 75869</span>
                </div>
                <div class="center">
                    <span class="status finalizado">Finalizado</span>
                </div>
                <div class="right">
                    <span class="data">10/01/2021</span>
                    <span class="arrow">&#9660;</span>
                </div>
            </div>

        </div>
    </div>

    <div class="icons">
        <a href="#"><img src="{% static 'img/youtube.svg' %}" alt="YouTube"></a>
        <a href="#"><img src="{% static 'img/instagram.svg' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'img/telefone.svg' %}" alt="Telefone"></a>
    </div>

</body>

</html>
